/* TextFields.module.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 800px;
    height:100%;
    margin: 0 auto;
  }
  .scientificHeading {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.5rem;
    color: #2c3e50;
    margin-bottom: 1rem;
    transition: color 0.3s ease;
  }
  #displayTextTitle {
    color: darkblue;
    font-weight: bold;
    text-decoration: underline;
    font-family: 'Courier New', monospace;
  }
  
  #userInputTitle {
    color: darkgreen;
    font-weight: bold;
    text-decoration: underline;
    font-family: 'Courier New', monospace;
  }
  
  .scientificHeading:hover {
    color: #3498db;
  }
  
  .textarea {
    width: 80vw;
    height: 30vh;
    resize: none;
  }
  .outputTextArea {
    background-color: #f8f9fa;
    cursor: default;
    width: 100%;
    height: 35vh;
    border: 1px solid #ced4da;
  }
  .outputTextArea:focus {
    outline: none;
    border-color: #3498db;
}

  /* Mock.module.css or a separate QuillStyles.css file */
  .inputTextArea {
  width: 100%;
  height: 35vh;
  border: 1px solid #ced4da;
  border-radius: 4px;
  overflow: hidden; /* Add this line to hide any overflow */
}

  .inputTextArea:focus-within {
    border-color: #3498db;
}

.ql-container {
  background-color: #ffffff;
  border: none; /* Remove the border */
  border-radius: 4px;
  padding: 1rem;
  width: 100%;
  height: 100%; /* Set height to 100% */
}

.ql-editor {
  min-height: calc(100% - 42px); /* 100% minus the toolbar height */
  font-size: 1rem;
}

/* Buttons */
.ql-toolbar button {
  color: #495057;
}

.ql-toolbar button:hover {
  color: #007bff;
}

/* Dropdowns */
.ql-toolbar .ql-picker-label,
.ql-toolbar .ql-picker-item {
  color: #495057;
}

.ql-toolbar .ql-picker-item:hover {
  color: #007bff;
}
.ql-toolbar .ql-picker-item.ql-selected {
  background-color: #f8f9fa;
}
/* Editor */
.ql-editor {
  min-height: 60vh;
  font-size: 1rem;
}
.ql-editor:focus {
  outline: none;
}


.editor {
    width: 80%;
    height:60vh;
  }
  .editor:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
  /* Mock.module.css */
.submitButton {
  display: flex;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: #0056b3;
}
.submitButton:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0,123,255,.25);
}

.buttonWrapper {
  display: flex;
  align-items: center; /* Add this line to align items vertically */
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  gap: 60px; /* Add this line to set the distance between the buttons */

}

.audioButton {
  display: flex;
  background-color: #146b00;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.audioButton:hover {
  background-color: #218838;
}

.audioButton:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(40, 167, 69, 0.25);
}
